$color-text-dark: #403f3d;
$color-text-light: #e1d4c9;
$color-text-accent: #b0907a;

$color-background-body: #e1d4c9;
$color-background-container: #665f55;
$color-background-backdrop: #403f3dcc;

$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$content-width: 1360px;
$tablet-width: 769px;
$mobile-width: 381px;
